name: example-2
on:
  push:
    branches: [main]
permissions:
  contents: read
  pages: write
  id-token: write
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: download node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm
      - name: download deps
        run: npm ci
      - name: Build project
        run: |
          cd vite-project
          npm run build
      - name: upload artifacts
        uses: actions/upload-pages-artifact@v3
        with:
          path: "./dist"
  deploy:
    needs: build
    runs-on: ubuntu-latest
    if: github.event_name == 'workflow_dispatch'
    environment:
      name: github-pages
      url: ${{ steps.deploy-to-pages.outputs.page_url }}
    steps:
      - name: deploy
        uses: actions/deploy-pages@v4